*{
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    overflow-x: hidden;
}

.connector-wrapper {
    width: 100%;
    max-width: 850px;
    
    height: 450px; 
    
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;

    margin-top: -150px;
    margin-bottom: -150px;
    
    z-index: 1;
    position: relative;
    pointer-events: none;
}

.connector-svg {
    width: 100%;
    height: 100%;
    display: block;
    filter: drop-shadow(0 0 5px var(--blue-active));
}

main > .connector-wrapper:last-child {
    margin-bottom: -250px !important;
}

/* ///////////////////////////////////////////////// */
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
}

.year-title {
    font-family: var(--font-header);
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    
    color: var(--blue-active); 
    
    margin-bottom: 10px;
}

.history-subtitle {
    font-family: var(--font-header);
    font-size: 24px;
    color: var(--text-main);
    margin-bottom: 10px;
}


.history-text {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.6;
    color: var(--muted);
}

.history-link {
    margin-top: auto; 
}


@media (max-width: 830px) {
    .year-title {
        font-size: 50px;
    }
    
    .card-wrapper {
        width: 60vh;
        height: 60vh;
    }
    .connector-svg{
        width: 80%;
        justify-self: center;
    }
}